@model Vidly.ViewModel.CustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>&nbsp;</div>
<div>&nbsp;</div>

@Html.ActionLink("Back","Index",null,new {@class="btn btn-default btn-sm"})

<h2>Add New</h2>
<hr/>
@using (Html.BeginForm("Create","Customer"))
{
    <div class="form-group">
        @Html.LabelFor(c=>c.Customer.Name)
        @Html.TextBoxFor(c=>c.Customer.Name, new{@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.DateOfBirth)
        @Html.TextBoxFor(c => c.Customer.DateOfBirth, new { @class = "form-control",type="date" })
    </div>
   
    <div class="form-group">
        @Html.LabelFor(c=>c.Customer.MemberShipId)
        @Html.DropDownListFor(c=>c.Customer.MemberShipId, new SelectList(Model.MemberShips,"Id","Title"),"Select MemberShip Type",new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsLetter) News Letter Subscriptions?
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

